name: flutter-build

on:
  pull_request:
    types: [closed]
    branches:
      - master
      - pre

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    - uses: subosito/flutter-action@v2.6.2
      with:
        flutter-version: '3.0.5'
    - run: flutter pub get
    - run: flutter build apk
    - run: flutter build appbundle
